<div class="container-fluid">
<h1>Информация о водителе</h1>
<p><%= @driver.first_name %></p>
<p><%= @driver.middle_name %></p>
<p><%= @driver.last_name %></p>
<p><%= @driver.active %></p>
<p><%= @driver.birthday %></p>
<p><%= @driver.category_rights %></p>
<p><%= @driver.data_issue_rights %></p>
</div>
