<div class="container-fluid">
<h1>Информация об автомобиле</h1>
<p><%= @car.model %></p>
<p><%= @car.number_car %></p>
<p><%= @car.year_issue %></p>
<p><%= @car.index_number %></p>
<p><%= @car.engine_power %></p>
<p><%= @car.carcase %></p>
<p><%= @car.color %></p>
<p><%= @car.weight %></p>
</div>
